@(title: String)(content: Html)
<html>
<head>
  <style type="text/css">
    .email { font-family: sans; font-size: 10pt; }
    .email h1 { font-size: 12pt; }
    .email h2 { font-size: 11pt; }
    .email ul { list-style-type: none; margin-left: 0; padding-left: 0; }
    .email thead { font-weight: bold; text-align: center; }
    .email table { font-size: 9pt; border-collapse: collapse; }
    .email thead td { background-color: black; color: white; }
    .email td { margin: 4px; padding: 4px; vertical-align: top; border-bottom: 1px solid black; }
  </style>
  <title>@title</title>
</head>
<body>
<div class="email">
<h1>@title</h1>
<div>
@content
</div>
</div>
</body>
</html>
