@(push: Push)
<html>
<head>
    <style type="text/css">
    body { font-family: sans; }
    h1 { font-size: 16pt; }
    h2 { font-size: 12pt; }
    ul { list-style-type: none; }
    thead { font-weight: bold; }
    </style>
</head>
<body>
<h1>[GitLab] [@push.repository.name] @push.user_name pushed @push.total_commits_count commits</h1>
<ul>
  <li>Repository: <b><a href="@push.repository.url">@push.repository.name</a></b></li>
  <li>Branch: <b>@{push.ref.substring(11)}</b></li>
  <li>Changes: from <b><a href="@push.repository.url/commit/@push.before">@push.before.take(6)</a></b> to <b><a href="@push.repository.url/commit/@push.after">@push.after.take(6)</a></b> (<b><a href="@push.repository.url/compare/@push.before...@push.after">compare</a></b>)</li>
  <li>User: <b>@push.user_name</b></li>
</ul>
<h2>Commits</h2>
<table>
<thead><tr><td>Timestamp</td><td>Commit</td><td>Author</td><td>Message</td></tr></thead>
<tbody>@for(commit ← push.commits) {
  <tr>
    <td>@commit.timestamp.toString("dd/MM/yyyy HH:mm:ss z")</td>
    <td><a href="@push.repository.url/commit/@commit.id">@commit.id.take(6)</a></td>
    <td><a href="mailto:@commit.author.email?subject=Commit%20@commit.id%20at%20@push.repository.name%20repository&body=Ref.%20@push.repository.url/commit/@commit.id">@commit.author.name</a></td>
    <td>@commit.message</td>
  </tr>}
</tbody>
</table>
</body>
</html>
